<!DOCTYPE html>
{% extends 'main.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% block custom_head %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'affirmations/styles/home.css' %}">
    
    {% endblock custom_head %}

</head>
{% block content %}
<body>
 
   
    <form>
        <fieldset name="welcomeBox">
            <h2>Welcome!</h2>
            <input type="button" value="Login"><br>
            <input type="button" value="Create Account"><br>
            
        </fieldset>
    </form>

    
    
   
</body>
{% endblock %}
</html>