<!DOCTYPE html>
{% extends 'main.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% block custom_head %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'affirmations/styles/home.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
    {% endblock custom_head %}

</head>
{% block content %}
<body>
 
   
    <form>
        <fieldset name="welcomeBox">
            <label for="welcome">Welcome!</label><br>
            <input type="text" id="welcome" name="welcome" value="Welcome!"><br>
            
        </fieldset>
    </form>

    
    
   
</body>
{% endblock %}
</html>