
/* * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Reset CSS
 */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 /* * * * * * * * * * * * * * * * * * * * * * * * * * *
  * Start styling navbar
  */
  .navbar, .nav-link, .logo {
   color: White;
   text-decoration: none;
   margin: 0;
   box-sizing: border-box;
   padding: 0px;
   font-size: 18px;
   
}

.logo{
   width: 5%;
   margin-left: 3%;
   margin-top: 10px;

}


.logo img{
   box-sizing: border-box;
   width: 100%;
   margin: 0%;
}
 .navbar{
   position: relative;
   background: rgba(111, 111, 111, 0.3);
   display: flex;
   align-items: baseline ;

   
 }


 .navbar-left {

float: left;
margin: 10px;
margin-left: 4%;
margin-bottom: 5px;

}

.navbar-right {
    /*display: inline-block;*/
    float: right;
    margin: 10px;
    margin-right: 5%;
    margin-left: auto;
    margin-bottom: 5px;
    

 }


