
/* * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Reset CSS
 */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 /* * * * * * * * * * * * * * * * * * * * * * * * * * *
  * Start styling navbar
  */
 
  #logo img{
   width: 15%;
   height: 15%;
   margin: 5px;
   margin-left: 15%;
   margin-bottom: 0;

}
 .navbar{
   position: relative;
   background: Grey;
   display: flex;
   
   
   
 }

 .navbar-left {

float: left;
box-sizing: border-box;
margin: 10px;


}

 .navbar-right {
    /*display: inline-block;*/
    float: right;
    box-sizing: border-box;
    margin: 10px;
    margin-left: 20%;

 }

 .navbar-brand,
.navbar .nav-link {
   color: White;
   text-decoration: none;
   margin: 0;
   display: inline-block;
   padding: 0px;
   font-size: 25px;
   
}
